{# roles/nfs_master/templates/sources.list.j2 #}
deb {{ debian_mirror }} {{ debian_release }} main
deb {{ debian_security_mirror }} {{ debian_security_release }} main
deb {{ debian_mirror }} {{ debian_release }}-updates main
